@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #DFD8CF;
}

::-webkit-scrollbar-thumb {
  background-color: #21343E;
  border-radius: 20px;
  border: 3px solid #DFD8CF;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1a2931;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #21343E #DFD8CF;
}
